h1 {
  color: #77685D;
}

.resumenes {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boton {
  padding: 25px;
  background-color: blue;
  color: white;
}

button {
  border-style: none;
  font-size: 22px;
  border-radius: 10px;
  color: darkcyan;
}

.menu {
  max-width: 500px;
  background-color: #058ed9;
}
.menu .menu__lista {
  list-style: none;
  height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu .menu__lista .menu__item {
  margin-top: 10px;
}
.menu .menu__lista .menu__item .menu__link {
  color: white;
  text-decoration: none;
}
.menu .menu__lista .menu__item:hover {
  background-color: lime;
}